@model IEnumerable<BandSite.Models.Members>

@{
    ViewData["Title"] = "Index";
}

 
<div class="container">
    <div class="row">
@foreach (var item in Model)
{
    
    <p class="col-md-4 MyCard">
            <img src="@item.Image" alt="images" class="bioPic" />
            <br />
            <span>@item.Name</span>
            <br />
                <span>
                    <a href="@item.Facebook"><img src="http://www.freepngimg.com/thumb/facebook/2-2-facebook-free-download-png-thumb.png" alt="facebook" class="fbicon" /></a>
                </span>
                <span>
                    @Html.DisplayFor(modelItem => item.Twitter)
                </span>
            </p>
        }
    </div>
    </div>
